*.pyc
*~

data/
pcaflow/extern/armadillo/ArmadilloConfig.cmake
pcaflow/extern/armadillo/ArmadilloConfigVersion.cmake
pcaflow/extern/armadillo/CMakeCache.txt
pcaflow/extern/armadillo/CMakeFiles/
pcaflow/extern/armadillo/InstallFiles/
pcaflow/extern/armadillo/Makefile
pcaflow/extern/armadillo/build/
pcaflow/extern/armadillo/cmake_install.cmake
pcaflow/extern/armadillo/install_manifest.txt
pcaflow/extern/armadillo/libarmadillo.so
pcaflow/extern/armadillo/libarmadillo.so.5
pcaflow/extern/armadillo/libarmadillo.so.5.100.1
pcaflow/extern/armadillo/tmp/
pcaflow/extern/pygco.so
pcaflow/solver/RobustQuadraticSolverCython.so
pcaflow/solver/cython/RobustQuadraticSolverCython.cpp
pcaflow/solver/cython/RobustQuadraticSolverCython.so
pcaflow/solver/cython/build/

libviso2.zip
pcaflow/extern/armadillo/libarmadillo.a
pcaflow/extern/libviso2/CMakeLists.txt
pcaflow/extern/libviso2/img/
pcaflow/extern/libviso2/matlab/
pcaflow/extern/libviso2/python/build/
pcaflow/extern/libviso2/python/libvisomatcher.cpp
pcaflow/extern/libviso2/python/libvisomatcher.so
pcaflow/extern/libviso2/readme.txt
pcaflow/extern/libviso2/src/
pcaflow/extern/libvisomatcher.so
